# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OpenCV 
*.tlog
*.log

# Visual Studio build and project artifacts
*.ipch
*.pdb
*.db
*.opendb
*.suo
*.ilk
*.lastbuildstate
*.idb
*.unsuccessfulbuild
*.vcxproj.filters
*.vcxproj.user
*.iobj
*.ipdb
*.sdf
